@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container"> 
    <!-- Added a create button at the top of the index page.-->
    <a asp-page="Create" class="btn btn-link">+ Create</a>
    <!--Table to display Title,Location and CRUDi actions for each product-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>    <!--Added a new column named Location-->
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            { 
                <tr>
                    <td>@product.Title</td>             <!-- Added details inside Title column for each product-->
                    <td>@product.Location</td>          <!-- Added details inside Location column for each product -->
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read&nbsp;&nbsp</a><a asp-page="Update" asp-route-id="@product.Id">&nbsp;Update</a><a asp-page="Delete" asp-route-id="@product.Id">&nbsp;&nbsp;Delete</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>