@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- This is a Razor view displaying details of a product, including its title, image, description, price, availability, tutorial link, owner information, reviews, and a delete button. -->
<!--Added style in the class="content" as per html style guildlines-->
<div class="content">
    <style>
        img.card-img {
            width: 512px;
            height: auto;
            padding-left: 30px;
        }

        .card-text {
            color: ghostwhite;
            padding-left: 20px;
        }

        .card-heading {
            color: ghostwhite;
            padding-left: 20px;
        }
    </style>
    <div class="transbox">
        <wbr />
        <div class="row">
            <div class="col-md-10">
                <h1 class="card-heading" id="productTitle">@Model.Product.Title</h1>

                <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>

                <h4 class="card-heading"><br />Description</h4>
                <p class="card-text">@Model.Product.Description</p>

                <h4 class="card-heading"><br />Category</h4>
                <p class="card-text">@Model.Product.ProductType</p>

                <h4 class="card-heading">Price</h4>
                <p class="card-text"><i><b>$@Model.Product.Price</b></i></p>

                <h4 class="card-heading">Availability</h4>
                <p class="card-text">@Model.Product.Location</p>

                <h4 class="card-heading">Tutorial:</h4>
                <p class="card-text"><a href="@Model.Product.Url">Learn more about @Model.Product.Title</a></p>

                <p class="card-text">Listing by: @Model.Product.Owner</p>
                <p class="card-text">Contact: @Model.Product.Phone, @Model.Product.Email</p>

                <h4 class="card-heading">Reviews</h4>
                <p class="card-text">@Model.Product.review</p>

            </div>
            <div class="col-md-2">
                <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>